.li{
    list-style-type:none;
    background-color:lightblue;
    height:140px;
    width:240px;
    margin: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:12px;
    align-items:center;
}
ul{
    display:flex;
    flex-wrap:wrap;
}